@model RedLions.Presentation.Web.Models.Announcement

@{
    ViewBag.Title = "Post Announcement";
}

@section NavigationControls
{
    @{ Html.RenderPartial("_AnnouncementsControlPartial"); }
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>New Announcement</legend>

        <!-- Title -->
        @Html.LabelFor(model => model.Title)
        <div class="input-control text" data-role="input-control">
            @Html.TextBoxFor(model => model.Title, new { placeholder = "Title", maxlength = 50 })
            <button class="btn-clear" tabindex="-1"></button>
        </div>
        @Html.ValidationMessageFor(model => model.Title)

        <!-- Message -->
        @Html.LabelFor(model => model.Message)
        <div class="input-control textarea" data-role="input-control">
            @Html.TextAreaFor(model => model.Message, new { maxlength = 600 })
        </div>
        @Html.ValidationMessageFor(model => model.Message)

        <div class="input-control">
            <input type="submit" class="primary" value="Create" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Announcements")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
