<div class="footer-menu">

    <div class="footer-columns">
        <h1>Other Sites</h1>
        <ul>
            <li><a href="#" target="_blank">Company Profile</a></li>
            <li><a href="#" target="_blank">Certifications</a></li>
            <li><a href="@Url.Action("Awards", "Home")">Awards</a></li>
            <li><a href="#" target="_blank">RedLions International</a></li>
        </ul>
    </div>

    <div class="footer-columns">
        <h1>Product Line</h1>
        <ul>
            <li><a href="@Url.Action("Beverages", "Home")">Healthy Beverages</a></li>
            <li><a href="@Url.Action("Nutritions", "Home")">Nutritions</a></li>
            <li><a href="@Url.Action("Personal", "Home")">Personal Care</a></li>
            <li><a href="@Url.Action("Skin", "Home")">Skin Care</a></li>
            <li><a href="#">Health Accessories</a></li>
        </ul>
    </div>

    <div class="footer-columns">
        <h1>Businesses</h1>
        <ul>
            <li><a href="@Url.Action("Plan", "Home")">Business Plan</a></li>
            <li><a href="@Url.Action("Packages", "Home")">Product Packages</a></li>
        </ul>
    </div>

    <div class="footer-columns">
        <h1>Media</h1>
        <ul>
            <li><a href="#" target="_blank">Videos</a></li>
            <li><a href="#" target="_blank">Featured Shows</a></li>
            <li><a href="#" target="_blank">1mpossible</a></li>
        </ul>
    </div>

    <div class="footer-columns">
        <h1>Follow Us</h1>
        <div class="socialmedia">
            <p><a id="fb" href="http://www.facebook.com/" class="social" target="_blank">Facebook</a>
            <a id="twitter" href="http://twitter.com/" class="social" target="_blank">Twitter</a>
            <a id="youtube" href="http://youtube.com/" class="social" target="_blank">Youtube</a></p>
        </div><!-- /socialmedia -->
    </div>

    <div id="copyright">
        &copy; 2014 RedLions. All Rights Reserved
    </div>

</div>