<div class="footer-menu">

    <div class="footer-columns">
        <img id="uno-logo" src="~/Content/Images/Banners/uno_logo.jpg" />
    </div>
    <div class="footer-columns">
        <h1>Company</h1>
        <ul>
            <li><a href="@Url.Action("Company", "Home")">Company Profile</a></li>
            <li><a href="@Url.Action("Certifications", "Home")">Certifications</a></li>
            <li><a href="@Url.Action("Awards", "Home")">Awards</a></li>
            <li><a href="@Url.Action("Redlions", "Home")">RedLions International</a></li>
        </ul>
    </div>

    <div class="footer-columns">
        <h1>Product Line</h1>
        <ul>
            <li><a href="@Url.Action("Beverages", "Home")">Healthy Beverages</a></li>
            <li><a href="@Url.Action("Nutritions", "Home")">Nutritions</a></li>
            <li><a href="@Url.Action("Personal", "Home")">Personal Care</a></li>
            <li><a href="@Url.Action("Skin", "Home")">Skin Care</a></li>
            <li><a href="@Url.Action("Health", "Home")">Health Accessories</a></li>
        </ul>
    </div>

    <div class="footer-columns">
        <h1>Businesses</h1>
        <ul>
            <li><a href="@Url.Action("LocalBusiness", "Home")">Local Business Plan</a></li>
            <li><a href="@Url.Action("InternationalBusiness", "Home")">International Business Plan</a>
                <ul>
                    <li><a href="@Url.Action("Dubai", "Home")">Dubai</a></li>
                    <li><a href="@Url.Action("HongKong", "Home")">HongKong</a></li>
                    <li><a href="@Url.Action("Macau", "Home")">Macau</a></li>
                    <li><a href="@Url.Action("Ksa", "Home")">KSA</a></li>
                    <li><a href="@Url.Action("Singapore", "Home")">Singapore</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("LocalPackages", "Home")">Local Product Packages</a></li>
            <li><a href="@Url.Action("InternationalPackages", "Home")">International Product Packages</a></li>
        </ul>
    </div>

    <div class="footer-columns">
        <h1>Media</h1>
        <ul>
            <li><a href="@Url.Action("Videos", "Home")">Videos</a></li>
            <li><a href="@Url.Action("Featured", "Home")">Featured Shows</a></li>
            <li><a href="@Url.Action("Possible", "Home")">1mpossible</a></li>
        </ul>
    </div>

    <div id="copyright">
        &copy; 2014 RedLions. All Rights Reserved
    </div>

</div>