@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>RedLions - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/bundles/homepage-ui")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @Styles.Render("~/bundles/metro-style")
    @Scripts.Render("~/bundles/metro-script")

    @Styles.Render("~/bundles/mvc-custom")

    @Scripts.Render("~/bundles/responsiveslides")
    @Styles.Render("~/bundles/responsive-slides-style")

</head>
<body class="metro redlions general-ui">

    <div id="container">

        <div id="header">
            @Html.Partial("_NavigationPartial")
        </div>

        <div id="body">
            @RenderBody()
        </div>

    </div>

    <div id="footer">
        @Html.Partial("_FooterPartial")
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
