@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>RedLions - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/bundles/homepage-ui")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/clamp")

    @Styles.Render("~/bundles/metro-style")
    @Scripts.Render("~/bundles/metro-script")

    @Styles.Render("~/bundles/mvc-custom")

    @Scripts.Render("~/bundles/responsiveslides")
    @Styles.Render("~/bundles/responsive-slides-style")

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

</head>



<body class="metro" style='font-family: Calibri; height: 100%;'>


    <div class="grid" style="height: auto; min-height: 100%;">
        <div class="row" style="background-image: url('@Url.Content("~/Content/Images/Home/Layout/header.png")'); background-repeat: x-repeat; color: white; min-width: 900px; margin-top: 0;">

            <div style="width:900px; margin:0 auto; height:80px;">
                <div style="float: left;">
                    <img src='@Url.Content("~/Content/Images/Home/Layout/redlions.png")' />
                </div>

                <div style="margin-top: 50px; float: right;">
                    <strong>
                        <a href='#' style='color:#1c1c1c;display:inline;'> Forgot your password?  &nbsp;</a>
                        <a href='@Url.Action("Membership")' style='color:#c69000;display:inline;'> Be a Member </a>
                    </strong>
                </div>
            </div>

        </div>

        <div class="row" style="background-color: #1c1c1c; height: 80px; margin-top: 0px; min-width: 900px; ">
            <div  style=' width: 900px; margin: 0 auto; '>
                <div style='padding-top:10px;'>


                    <ul id="menu">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="#">About Us</a>
                            <ul>
                                <li><a href="@Url.Action("Company", "Home", new { comp = 1, referrerUsername = ViewBag.ReferrerUsername })">The Company</a></li>
                                <li><a href="@Url.Action("Organization", "Home", new { org = 1, referrerUsername = ViewBag.ReferrerUsername })">The Organization</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Products", "Home", new { prod = 1, referrerUsername = ViewBag.ReferrerUsername })">Products</a>
                            <ul>
                                <li><a href="@Url.Action("Products", "Home", new { prod = 2, referrerUsername = ViewBag.ReferrerUsername })">Skin care and whitening</a></li>
                                <li><a href="@Url.Action("Products", "Home", new { prod = 3, referrerUsername = ViewBag.ReferrerUsername })">Food/Nutritional Supplements</a></li>
                                <li><a href="@Url.Action("Products", "Home", new { prod = 4, referrerUsername = ViewBag.ReferrerUsername })">Health Bevereges</a></li>
                                <li><a href="@Url.Action("Products", "Home", new { prod = 5, referrerUsername = ViewBag.ReferrerUsername })">Household and Personal Care</a></li>
                                <li><a href="@Url.Action("Products", "Home", new { prod = 6, referrerUsername = ViewBag.ReferrerUsername })">Wellness Accessories</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="@Url.Action("Opportunities", "Home")">Opportunities</a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("LocalPlan", "Home")">Local</a>
                                    <ul>
                                        <li><a href="@Url.Action("LocalPackages", "Home", new { id = 1 })">Local Membership Product Packages</a></li>
                                        <li><a href="@Url.Action("LocalPackages", "Home", new { id = 2 })">Compensation Plan</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("InternationalPlan", "Home")">International</a>
                                    <ul>
                                        <li><a href="@Url.Action("International", "Home", new { id = 1 })">Int'l Membership Product Packages</a></li>
                                        <li><a href="@Url.Action("International", "Home", new { id = 2 })">Compensation Plan</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="@Url.Action("Announcements", "Home", new { page = 1 })">News and Update</a></li>
                        <li><a href="@Url.Action("Inquire", "Home")">Inquire</a></li>
                        
                    </ul>

                    <!-- Login Form -->
                    <div id="account-section" style="width: 250px; float: right;">
                        @{ Html.RenderPartial("_AccountPartial"); }
                    </div>
                </div>
            </div>

        </div>

        <div class='container' style="min-height: 700px; z-index: -1;">
            <div style='box-shadow: 0px 0px 40px 0px #818181; min-height: 700px;
                    width: 980px; height: 100%; margin: 0 auto; z-index: -1; padding: 2px;padding-bottom:270px;'>
                @RenderBody()
            </div>
        </div>
    </div>

    <div class='row' style='background-color: #7b0002; color: white !important; border-top: solid 3px #ffea3c; height: 270px; margin-top: -270px;'>
        <div class='container'>
            <div style='padding-top: 10px; width: 900px; margin: 0 auto;'>

                <div style="width: 200px; float: left; ">

                    <h4><b style="color: white !important; ">CUSTOMER SUPPORT</b></h4>
                    <ul style="color: white !important; ">
                        <li><a style="color:white;font-weight:bold;" href="#">Local Membership Product Packages</a></li>
                        <li><a style="color:white;font-weight:bold;" href="#">International Membership Product Packages</a></li>
                        <li><a style="color:white;font-weight:bold;" href="#">Product List</a></li>
                        <li><a style="color:white;font-weight:bold;" href="#">Place an Order</a></li>
                        <li><a style="color:white;font-weight:bold;" href="@Url.Action("Membership", "Home")">Be A member</a></li>
                        <li><a style="color:white;font-weight:bold;" href="#">Customer Service</a></li>
                    </ul>

                </div>

                <div style="width: 200px; float: left;">
                    <h4><b style="color: white !important; ">Payment Options</b></h4>
                    <img src="@Url.Content("~/Content/Images/Home/Layout/payment.png")" />
                </div>

                <div style="width: 200px; float: left;">
                    <h4><b style="color: white !important; ">Delivery Couriers</b></h4>
                    <img src="@Url.Content("~/Content/Images/Home/Layout/delivery.png")" />
                </div>

                <div style="width: 200px; float: left;">

                    <h4><b style="color: white !important;">SHARE US</b></h4>
                    <a href=""><img src='@Url.Content("~/Content/Images/Home/Layout/fb.png")' /></a>
                    <a href=""><img src='@Url.Content("~/Content/Images/Home/Layout/twitter.png")' /></a>

                </div>

                <div style="float:right;">

                    <img src='@Url.Content("~/Content/Images/Home/Layout/unologo.png")' style='width:100px;height:100px;' class='pull-right'>

                </div>


            </div>

        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
