@if (Request.IsAuthenticated) 
{
    <div class="element place-right">
        <a class="dropdown-toggle" href="#">
            <span class="icon-cog"></span>
        </a>
        <ul class="dropdown-menu place-right" data-role="dropdown">
            
            @if (Roles.IsUserInRole("Member"))
            {
                <li>@Html.ActionLink("My Account", "Index", "Profile")</li>
            }
                                
            @if (Roles.IsUserInRole("Admin"))
            {
                <li>@Html.ActionLink("Admin", "Index", new { area = "Admin", controller = "Members" })</li>
            }
           
            <li class="divider"></li>

            <li>
            @using (Html.BeginForm("Logout", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            }
            </li>
        </ul>
    </div>
    <span class="element-divider place-right"></span>
    <a class="element place-right" href="#"><span class="icon-locked-2"></span></a>
    <span class="element-divider place-right"></span>
    <button class="element place-right">

        @if (Roles.IsUserInRole("Member"))
        {
            <i class="icon-user on-left"></i>@User.Identity.Name
        }
                                
        @if (Roles.IsUserInRole("Admin"))
        {
            <i class="icon-user-3 on-left"></i>@User.Identity.Name
        }


    </button>
}
else
{
    <button id="login-button" class="element place-right">Login</button>
    <button id="register-button" class="element place-right" onclick="location.href='@Url.Action("Register", "Account")';">Register</button>
    
    <div id="login-dialog" style="display: none;">
    @{ 
    var returnUrl = @Request.RawUrl; // Get current page URL
    Html.RenderAction("LoginForm", "Account", returnUrl); 
    }
    </div>
    
    <!--
        Did not utilize 'RenderSection.Scripts' because
        PartialView cannot render scripts, raw <scripts> tags must be used.
    -->
    <script>
        $(document).ready(function () {

            // Login Button Clicked
            $("#login-button").on('click', function () {

                // Display Rendered PartialView(Account/LoginFormPartial) as Dialog
                $.Dialog({
                    overlay: true,
                    shadow: true,
                    flat: true,
                    title: 'Flat window',
                    content: '',
                    padding: 10,
                    onShow: function (_dialog) {
                        var loginDialog = $('#login-dialog'); 
                        $.Dialog.title("User login");
                        $.Dialog.content(loginDialog.html());
                        reinitInputs();
                    }
                });
            });

        });
    </script>
}

