<nav class="navigation-bar">
    <div class="navigation-bar-content">
        <img id="redlions-logo" src="~/Content/Images/Banners/redlion_logo.png" />
        <a class="element center-nav" href="@Url.Action("Index", "Home")">Home</a>
        <span class="element-divider"></span>

        <div class="element">
            <a class="dropdown-toggle" href="#">Company</a>
            <ul class="dropdown-menu" data-role="dropdown">
                <li><a href="@Url.Action("Company", "Home")">Company Profile</a></li>
                <li><a href="@Url.Action("Certifications", "Home")">Certifications</a></li>
                <li><a href="@Url.Action("Awards", "Home")">Awards</a></li>
                <li><a href="@Url.Action("Redlions", "Home")">RedLions International</a></li>
            </ul>
        </div>

        <span class="element-divider"></span>

        <div class="element">
            <a class="dropdown-toggle" href="@Url.Action("Products", "Home")">Products</a>
            <ul class="dropdown-menu" data-role="dropdown">
                <li><a href="@Url.Action("Products", "Home")">All Products</a></li>
                <li class="divider"></li>
                <li><a href="@Url.Action("Beverages", "Home")">Healthy Beverages</a></li>
                <li><a href="@Url.Action("Nutritions", "Home")">Nutritions</a></li>
                <li><a href="@Url.Action("Personal", "Home")">Personal Care</a></li>
                <li><a href="@Url.Action("Skin", "Home")">Skin Care</a></li>
                <li><a href="@Url.Action("Health", "Home")">Health Accessories</a></li>
            </ul>
        </div>

        <!-- Business -->
        <span class="element-divider"></span>
        <div class="element">
            <a class="dropdown-toggle" href="#">Business</a>
            <ul class="dropdown-menu" data-role="dropdown">

                <li><a href="@Url.Action("LocalBusiness", "Home")">Local Business Plan</a></li>
                <li><a href="@Url.Action("InternationalBusiness", "Home")">International Business Plan</a></li>
                <li><a href="@Url.Action("LocalPackages", "Home")">Local Product Packages</a></li>

                <li>
                    <a href="@Url.Action("InternaltionalPackages", "Home")" class="dropdown-toggle">International Product Packages</a>
                    <ul class="dropdown-menu" data-role="dropdown">
                        <li><a href="@Url.Action("InternationalPackages", "Home")">All International</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Dubai", "Home")">Dubai</a></li>
                        <li><a href="@Url.Action("HongKong", "Home")">HongKong</a></li>
                        <li><a href="@Url.Action("Macau", "Home")">Macau</a></li>
                        <li><a href="@Url.Action("Ksa", "Home")">KSA</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <span class="element-divider"></span>

        <div class="element">
            <a class="dropdown-toggle" href="#">Media</a>
            <ul class="dropdown-menu" data-role="dropdown">
                <li><a href="@Url.Action("Videos", "Home")">Videos</a></li>
                <li><a href="@Url.Action("Featured", "Home")">Featured Shows</a></li>
                <li><a href="@Url.Action("Possible", "Home")">1mpossible</a></li>
            </ul>
        </div>

        <span class="element-divider"></span>
        <button class="element">Events</button>

        @{ Html.RenderPartial("_AccountPartial"); }
    </div>
</nav>

<!-- 
    Explicitly load the metro-dropdown.js here, because 
    this partial view is reloaded when a user logs in, 
    If we don't load this dropdown, 
    we lose the jquery-hookups.
     -->
<script src="@Url.Content("~/Scripts/Metro/metro-dropdown.js")"></script>