@{
    ViewBag.Title = "Food/Nutritional Supplements";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding:10px;">
    <h2>Food/Nutritional Supplements</h2>

    <ul>
        <li>@Html.ActionLink("Fit Right", "ProductDetails", new { id = 9 })</li>
        <li>@Html.ActionLink("Grapesesed", "ProductDetails", new { id = 10 })</li>
        <li>@Html.ActionLink("KryptOrganic", "ProductDetails", new { id = 11 })</li>
        <li>@Html.ActionLink("Supercharged", "ProductDetails", new { id = 12 })</li>
        <li>@Html.ActionLink("Ultima-C (Sodium Ascorbate)", "ProductDetails", new { id = 13 })</li>
        <li>@Html.ActionLink("Virgin Coconut Oil", "ProductDetails", new { id = 14 })</li>
        <li>@Html.ActionLink("Wheatgrass & Barley", "ProductDetails", new { id = 15 })</li>
    </ul>
</div>