@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<table style="border-spacing: 2px;border-collapse: separate;">
    <tr>
        <td colspan="2">
            <ul class="rslides" id="slider">
                <li><img src="~/Content/Images/Home/Index/acai.jpg" /></li>
                <li><img src="~/Content/Images/Home/Index/coffee.jpg" /></li>
                <li><img src="~/Content/Images/Home/Index/global.jpg" /></li>
                <li><img src="~/Content/Images/Home/Index/lalumiere.jpg" /></li>
                <li><img src="~/Content/Images/Home/Index/pacman1.jpg" /></li>
                <li><img src="~/Content/Images/Home/Index/pacman2.jpg" /></li>
            </ul>
        </td>
    </tr>
    <tr style="height:286px;">
        <td style="width:408px;">
            <iframe width="408" height="360" src="//www.youtube.com/embed/Z21I0mz6RYc?autoplay=1&rel=0&showinfo=0&controls=0&modestbranding=0&autohide=1&loop=1" frameborder="0" allowfullscreen></iframe>
        </td>
        <td style="width: 548px;">
            <ul class="rslides" id="slider-products">
                <li><img style="width: 548px;" src="~/Content/Images/Home/Products/bbcream.jpg" /></li>
                <li><img style="width: 548px;" src="~/Content/Images/Home/Products/cappuccino.jpg" /></li>
                <li><img style="width: 548px;" src="~/Content/Images/Home/Products/choco8.jpg" /></li>
                <li><img style="width: 548px;" src="~/Content/Images/Home/Products/glutacapsule.jpg" /></li>
                <li><img style="width: 548px;" src="~/Content/Images/Home/Products/grapeseed.jpg" /></li>
                <li><img style="width: 548px;" src="~/Content/Images/Home/Products/icare.jpg" /></li>
            </ul>
        </td>
    </tr>
</table>


<h3 style="margin-left: 5px;font-weight:bold;">Success Stories</h3>


<div class="clearboth"></div>

<table style="border-collapse: separate;">
    <tr>
        <td>
            <div class="panel panel-default" style="width:160px;">
                <div class="panel-heading" style="background-image: url('@Url.Content("~/Content/Images/Home/Layout/panel_header.png")'); color: #fff;height: 45px; border-radius: 0px; text-align: center; padding-top: 12px; font-size: 12px;">
                    Allan Jay Rosal
                </div>
                <div class="panel-body" style="padding:1px;background-color:#1c1c1c;color:#fff;">
                    <img style="height:200px;" src="~/Content/Images/Home/SuccessStories/rosal1.jpg" /> 
                </div>
            </div>
        </td>
        <td>
            <div class="panel panel-default" style="width:160px;">
                <div class="panel-heading" style="background-image: url('@Url.Content("~/Content/Images/Home/Layout/panel_header.png")'); color: #fff;height: 45px; border-radius: 0px; text-align: center; padding-top: 12px; font-size: 12px;">
                    Rowell Buado
                </div>
                <div class="panel-body" style="padding: 1px; background-color: #1c1c1c; color: #fff;">
                    <img style="height:200px;width:156px;" src="~/Content/Images/Home/SuccessStories/buado1.png" /> 
                </div>
            </div>
        </td>
        <td>
            <div class="panel panel-default" style="width:160px;">
                <div class="panel-heading" style="background-image: url('@Url.Content("~/Content/Images/Home/Layout/panel_header.png")'); color: #fff;height: 45px; border-radius: 0px; text-align: center; padding-top: 12px; font-size: 12px;">
                    Windslie Daquiado
                </div>
                <div class="panel-body" style="padding: 1px; background-color: #1c1c1c; color: #fff;">
                    <img style="height:200px;width:156px;" src="~/Content/Images/Home/SuccessStories/wind1.png" /> 
                </div>
            </div>
        </td>
        <td>
            <div class="panel panel-default" style="width:160px;">
                <div class="panel-heading" style="background-image: url('@Url.Content("~/Content/Images/Home/Layout/panel_header.png")'); color: #fff;height: 45px; border-radius: 0px; text-align: center; padding-top: 12px; font-size: 12px;">
                    Marianne Claire Gloria  
                </div>
                <div class="panel-body" style="padding:1px;background-color:#1c1c1c;color:#fff;">
                    <img style="height:200px;width:156px;" src="~/Content/Images/Home/SuccessStories/mar1.jpg" /> 
                </div>
            </div>
        </td>
        <td>
            <div class="panel panel-default" style="width:160px;">
                <div class="panel-heading" style="background-image: url('@Url.Content("~/Content/Images/Home/Layout/panel_header.png")'); color: #fff;height: 45px; border-radius: 0px; text-align: center; padding-top: 12px; font-size: 12px;">
                    Peter John Premallon
                </div>
                <div class="panel-body" style="padding:1px;background-color:#1c1c1c;color:#fff;">
                    <img style="height:200px;width:156px;" src="~/Content/Images/Home/SuccessStories/pj1.jpg" />
                </div>
            </div>
        </td>
        <td>
            <div class="panel panel-default" style="width:160px;">
                <div class="panel-heading" style="background-image: url('@Url.Content("~/Content/Images/Home/Layout/panel_header.png")'); color: #fff;height: 45px; border-radius: 0px; text-align: center; padding-top: 12px; font-size: 12px;">
                    Marylin Timpuloc
                </div>
                <div class="panel-body" style="padding:1px;background-color:#1c1c1c;color:#fff;">
                    <img style="height:200px;width:156px;" src="~/Content/Images/Home/SuccessStories/marilyn1.jpg" />
                </div>
            </div>
        </td>
    </tr>
</table>

@section Scripts {
    @Scripts.Render("~/Scripts/Custom/home.index.js")
}
