@model RedLions.Presentation.Web.Models.Inquiry
@{
    ViewBag.Title = "Inquire";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div class="page" style="padding: 10px;">
    <div class="page-region">
        <div class="page-region-content">
            @using (Html.BeginForm("InquireConfirm", "Home"))
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Inquiry</legend>

                    <!-- Firstname -->
                    @Html.LabelFor(model => model.FirstName)
                    <div class="input-control text" data-role="input-control">
                        @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First name" })
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>
                    @Html.ValidationMessageFor(model => model.FirstName)

                    <!-- Lastname -->
                    @Html.LabelFor(model => model.LastName)
                    <div class="input-control text" data-role="input-control">
                        @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last name" })
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>
                    @Html.ValidationMessageFor(model => model.LastName)

                    <!-- Email -->
                    @Html.LabelFor(model => model.Email)
                    <div class="input-control text" data-role="input-control">
                        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>
                    @Html.ValidationMessageFor(model => model.Email)

                    <!-- CellphoneNumber -->
                    @Html.LabelFor(model => model.CellphoneNumber)
                    <div class="input-control text" data-role="input-control">
                        @Html.TextBoxFor(model => model.CellphoneNumber, new { placeholder = "Cellphone Number" })
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>
                    @Html.ValidationMessageFor(model => model.CellphoneNumber)

                    <!-- Message -->
                    @Html.LabelFor(model => model.Message)
                    <div class="input-control textarea" data-role="input-control">
                        @Html.TextAreaFor(model => model.Message, new { placeholder = "Your question" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Message)

                    <div class="input-control">
                        <button type="submit" class="primary">Send Inquiry</button>

                        <button id="chat-button" type="button" disabled class="image-button image-left">
                            Chat with an online representative
                            <i id="chat-online-icon" class="icon-comments"></i>
                        </button>
                    </div>
                </fieldset>
            }

        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var url =
        {
            inquiryChat: '@Url.Action("Chat", "Inquiry", null, Request.Url.Scheme)',
        };
    </script>
}

@Scripts.Render("~/bundles/signalr")
@Scripts.Render("~/Scripts/Custom/inquiry.index.js")
@Scripts.Render("~/signalr/hubs")