@model RedLions.Presentation.Web.ViewModels.Membership

@{
    ViewBag.Title = "International Packages";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}
<div style="padding: 10px;">

    <ul class="rslides" id="slider">
        <li><img src="~/Content/Images/Home/Index/acai.jpg" /></li>
        <li><img src="~/Content/Images/Home/Index/coffee.jpg" /></li>
        <li><img src="~/Content/Images/Home/Index/global.jpg" /></li>
        <li><img src="~/Content/Images/Home/Index/lalumiere.jpg" /></li>
        <li><img src="~/Content/Images/Home/Index/pacman1.jpg" /></li>
        <li><img src="~/Content/Images/Home/Index/pacman2.jpg" /></li>
    </ul>

    <br />

    
    <table style="width: 950px;  border-collapse: collapse;">
        <tr>
            <td id="compensation" style="display: none; text-align: center; vertical-align: top;">
                <h2 style="clear: both; ">10 Ways to Earn</h2>
                <iframe width="560" height="315" src="//www.youtube.com/embed/Ca_Rwj0K7Vw?showinfo=0&controls=0&modestbranding=0" frameborder="0" allowfullscreen></iframe>
            </td>
            <td id="options" class="option-container">

                <div id="option-a" class="option">

                    <div class="title"><b>OPTION A</b></div>

                    <div class="panel" style="float:left;">
                        <div class="panel-heading">
                            PHIL EXPORT OPTION A - PLATINUM</div>
                        <div class="panel-body">
                            <ul>
                                <li>1 Grapeseed (30's)</li>
                                <li>1 Kryptorganic</li>
                                <li>1 Fitright (60's)</li>
                                <li>1 Ultima C</li>
                                <li>1 Magic Cream</li>
                                <li>1 Wheat Grass & Barley</li>
                                <li>1 BB Cream</li>
                                <li>1 Super Charge Extreme</li>
                                <li>1 i-Care Napkin(night use)</li>
                                <li>1 i-Care Napkin (day use)</li>
                                <li>1 Bio Magnetic Bracelet</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning" 
                                   href="@Url.Action("Start", "Payment", new { paypalID = 5 })">Buy Now</a>
                            </div>
                            

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">
                            PHIL EXPORT OPTION A - TRIPLATINUM
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>2 Glutha Capsule (30's)</li>
                                <li>2 Grapeseed (30's)</li>
                                <li>1 Virgin Coconut Oil</li>
                                <li>2 Kryptorganic</li>
                                <li>1 Thanaka Cream</li>
                                <li>1 Fitright ( 60's)</li>
                                <li>2 Ultima C</li>
                                <li>2 Magic Cream</li>
                                <li>2 Wheat Grass & Barley</li>
                                <li>1 BB Cream</li>
                                <li>2 Super Charge Extreme</li>
                                <li>3 i-Care Napkin(night use)</li>
                                <li>3 i-Care Napkin (day use)</li>
                                <li>2 Bio Magnetic Bracelet</li>
                                <li>2 Scalar Pendant</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 6 })">Buy Now</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">
                            PHIL EXPORT OPTION A - ELITE 
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>3 Glutha Capsule (30's)</li>
                                <li>5 Grapeseed (30's)</li>
                                <li>4 Virgin Coconut Oil</li>
                                <li>5 Kryptorganic</li>
                                <li>5 Thanaka Cream</li>
                                <li>5 Fitright ( 60's)</li>
                                <li>5 Ultima C</li>
                                <li>4 Magic Cream</li>
                                <li>4 Wheat Grass & Barley</li>
                                <li>4 BB Cream</li>
                                <li>4 Super Charge Extreme</li>
                                <li>1Set i-Care Ionized Napkin</li>
                                <li>3 Bio Magnetic Bracelet</li>
                                <li>4 Scalar Pendant</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 7 })">Buy Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">
                            PHIL EXPORT OPTION A - GLOBAL
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>6 Glutha Capsule (30's)</li>
                                <li>10 Grapeseed (30's)</li>
                                <li>8 Virgin Coconut Oil</li>
                                <li>10 Kryptorganic</li>
                                <li>10 Thanaka Cream</li>
                                <li>10 Fitright ( 60's)</li>
                                <li>10 Ultima C</li>
                                <li>8 Magic Cream</li>
                                <li>8 Wheat Grass & Barley</li>
                                <li>8 BB Cream</li>
                                <li>8 Super Charge Extreme</li>
                                <li>1Set i-Care Ionized Napkin</li>
                                <li>6 Bio Magnetic Bracelet</li>
                                <li>8 Scalar Pendant</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 8 })">Buy Now</a>
                            </div>

                        </div>
                    </div>
                </div> <!-- End of Option A -->

                <div id="option-b" class="option">

                    <div class="title"><b>OPTION B</b></div>


                    <div class="panel" style="float:left;">
                        <div class="panel-heading">
                            PHIL EXPORT OPTION B- PLATINUM
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>1 Grape seed</li>
                                <li>1 Kryptorganic</li>
                                <li>2 Fitright</li>
                                <li>1 Ultima C</li>
                                <li>1 Magic Cream</li>
                                <li>1 Wheatgrass & Barley</li>
                                <li>1 BB Cream</li>
                                <li>1 i Care ( night use)</li>
                                <li>1 i Care ( day use)</li>
                                <li>1 Gluta Caps</li>
                                <li>1 VCO</li>
                                <li>1 Thanaka</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 9 })">Buy Now</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">
                            PHIL EXPORT OPTION B - TRIPLATINUM
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>2 Grape seed</li>
                                <li>2 Kryptorganic</li>
                                <li>4 Fitright</li>
                                <li>2 Ultima C</li>
                                <li>2 Magic Cream</li>
                                <li>2 Wheat grass & Barley</li>
                                <li>2 BB Cream</li>
                                <li>3 i Care ( night use)</li>
                                <li>3 i Care ( day use)</li>
                                <li>1 Bio Magnetic Bracelet</li>
                                <li>1 Scalar</li>
                                <li>2 Gluta Caps</li>
                                <li>2 VCO</li>
                                <li>2 Thanaka</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 10 })">Buy Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading"><b>ELITE</b></div>
                        <div class="panel-body">
                            <ul>
                                <li>6 Grapeseed</li>
                                <li>6 Kryptorganic</li>
                                <li>10 Fitright</li>
                                <li>6 Ultima C</li>
                                <li>5 Magic Cream</li>
                                <li>5 Wheatgrass & Barley</li>
                                <li>5 BB Cream</li>
                                <li>1 set I CARE</li>
                                <li>1 Bio Magnetic Bracelet</li>
                                <li>1 Scalar</li>
                                <li>4 Gluta Caps</li>
                                <li>4 VCO</li>
                                <li>4 Thanaka</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 11 })">Buy Now</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">
                            PHIL EXPORT OPTION B - GLOBAL
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>12 Grape seed</li>
                                <li>12 Kryptorganic</li>
                                <li>20 Fitright</li>
                                <li>12 Ultima C</li>
                                <li>10 Magic Cream</li>
                                <li>10 Wheatgrass & Barley</li>
                                <li>10 BB Cream</li>
                                <li>2 set I-Care</li>
                                <li>2 Bio Magnetic Bracelet</li>
                                <li>2 Scalar</li>
                                <li>8 Gluta Caps</li>
                                <li>8 VCO</li>
                                <li>8 Thanaka</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 12 })">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of Option B -->

                <div id="option-hk" class="option">

                    <div class="title"><b>HONG KONG/MACAU MEMBERSHIP PRODUCT PACKAGE</b></div>

                    <div class="panel" style="float:left;">
                        <div class="panel-heading">HONG KONG/MACAU PACKAGE A - PLATINUM</div>
                        <div class="panel-body">
                            <ul>
                                <li>1 Glutathione Soap</li>
                                <li>1 Kojic Acid Soap</li>
                                <li>1 8in1 Coffee</li>
                                <li>1 Natura White</li>
                                <li>1 Wheatgrass & Barley</li>
                                <li>1 FitRight</li>
                                <li>1 GrapeSeed</li>
                                <li>1 Gluta Lotion</li>
                                <li>1 Advance Care</li>
                                <li>1 iCare Napkin (night use)</li>
                                <li>1 iCare Napkin (day use)</li>
                                <li>1 iCare Napkin (panty liner)</li>
                                <li>1 Supercharge Extreme</li>
                                <li>1 Glutathione Capsule</li>
                                <li>1 Bb Cream</li>
                                <li>1 Ultima-C</li>
                                <li>1 KryptOrganic</li>
                                <li>1 Body Scrub</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 13 })">Buy Now</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">HONG KONG/MACAU PACKAGE B - TRIPLATINUM</div>
                        <div class="panel-body">
                            <ul>
                                <li>1 KryptOrganic</li>
                                <li>3 Glutathione Soap</li>
                                <li>1 Kojic Acid Soap</li>
                                <li>1 8in1 Coffee</li>
                                <li>1 Natura White Deodorant</li>
                                <li>1 Nutri hair Shampoo</li>
                                <li>1 6in1 Hair Treats</li>
                                <li>1 Wheatgrass & Barley</li>
                                <li>1 New York Scent Perfume</li>
                                <li>2 iCare Napkin (night use)</li>
                                <li>2 iCare Napkin (day use)</li>
                                <li>2 iCare Napkin (panty liner)</li>
                                <li>1 FitRight (60s)</li>
                                <li>1 Grape Seed (300s)</li>
                                <li>1 Virgin Coconut Oil</li>
                                <li>1 Supercharged Extreme</li>
                                <li>1 Supercharge</li>
                                <li>1 Glutathione capsule (30s)</li>
                                <li>1 La Lumiere</li>
                                <li>1 Bb Cream</li>
                                <li>1 Thanaka Cream</li>
                                <li>1 Prime Juice</li>
                                <li>1 Bio-Magnetic Bracelet</li>
                                <li>1 Scalar Pendant</li>
                                <li>1 Ultima-C</li>
                                <li>1 Choco 8</li>
                                <li>1 Glutathione Lotion</li>
                                <li>1 Body Works</li>
                                <li>1 Advance Care Toothgel</li>
                                <li>1 Magic Cream</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 14 })">Buy Now</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading"><b>HONG KONG/MACAU PACKAGE C - ELITE</b></div>
                        <div class="panel-body">
                            <ul>
                                <li>4 KrtyptOrganic</li>
                                <li>5 Glutathione Soap</li>
                                <li>5 Kojic Soap</li>
                                <li>5 8in 1Coffee</li>
                                <li>5 Cappuccino Coffee</li>
                                <li>2 Natura White Deodorant</li>
                                <li>2 NutriHair Shampoo</li>
                                <li>2 Hair Treats</li>
                                <li>2 Wheatgrass & Barley</li>
                                <li>2 New York Scent Perfume</li>
                                <li>1 Set iCare Napkin</li>
                                <li>1 Acai Berry Juice</li>
                                <li>3 FitRight  (60s)</li>
                                <li>4 Grape Seed (30s)</li>
                                <li>3 Virgin Coconut Oil</li>
                                <li>3 Supercharge Extreme</li>
                                <li>2 Supercharge</li>
                                <li>3 Glutathione Capsule (30s)</li>
                                <li>2 sets La Lumiere</li>
                                <li>2 Bb Cream</li>
                                <li>2 Thanaka Cream</li>
                                <li>1 Prime Juice</li>
                                <li>1 Bio-Magnetic Bracelet</li>
                                <li>1 Scalar Pendant</li>
                                <li>3 Ultima-C</li>
                                <li>2 Choco 8</li>
                                <li>2 Glutathione Lotion</li>
                                <li>2 Body Works</li>
                                <li>2 Advance Care Toothgel</li>
                                <li>2 Magic Cream</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 15 })">Buy Now</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">HONG KONG/MACAU PACKAGE D - GLOBAL</div>
                        <div class="panel-body">
                            <ul>
                                <li>4 KryptOrganic</li>
                                <li>10 Glutathione Soap</li>
                                <li>10 Kojic Acid Soap</li>
                                <li>10 8in1 Coffee</li>
                                <li>10 Cappuccino Coffee</li>
                                <li>5 Natura White Deodorant</li>
                                <li>5 Nutri Hair Shampoo</li>
                                <li>5 6in1 Hair Treats</li>
                                <li>5 Wheatgrass & Barley</li>
                                <li>5 New York Scent Perfume</li>
                                <li>2 sets iCare Napkin</li>
                                <li>2 Acai Berry Juice</li>
                                <li>4 Fit Right (60s)</li>
                                <li>6 Grape Seed (30s)</li>
                                <li>4 Virgin Coconut Oil</li>
                                <li>4 Supercharged Extreme</li>
                                <li>4 Supercharged</li>
                                <li>4 Glutathione Capsule</li>
                                <li>3 La Lumiere</li>
                                <li>4 Bb Cream</li>
                                <li>4 Thanaka Cream</li>
                                <li>3 Prime Juice</li>
                                <li>3 Bio-Magnetic Bracelet</li>
                                <li>3 Scalar Pendant</li>
                                <li>4 Ultima-C</li>
                                <li>4 Choco 8</li>
                                <li>4 Glutathione Lotion</li>
                                <li>4 Body Works</li>
                                <li>4 Advance Care Toothgel</li>
                                <li>4 Magic Cream</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 16 })">Buy Now</a>
                            </div>

                        </div>
                    </div>
                </div> <!-- End of Option Hong KOng -->


                
                <div id="option-db" class="option">

                    <div class="title"><b>DUBAI MEMBERSHIP PRODUCT PACKAGES</b></div>


                    <div class="panel" style="float:left;">
                        <div class="panel-heading">PLATINUM MEMBERSHIP PRODUCT PACKAGE</div>
                        <div class="panel-body">
                            <ul>
                                <li>2 bottles Magic Cream</li>
                                <li>1 box Grape Seed (30s)</li>
                                <li>2 boxes Ultima-C (100s)</li>
                                <li>3 boxes Glutathione Capsule (30s)</li>
                                <li>2 pcs. Natura White Deodorant</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 17 })">Buy Now</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">TRI-PLAT MEMBERSHIP PRODUCT PACKAGE</div>
                        <div class="panel-body">
                            <ul>
                                <li>10 boxes Glutathione Capsule (30s)</li>
                                <li>5 bottles Magic Cream</li>
                                <li>5 boxes Grape Seed (30s)</li>
                                <li>5 boxes FitRight (60s)</li>
                                <li>7 pcs Natura White Deodorant</li>
                                <li>6 boxes Ultima-C (100s)</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 18 })">Buy Now</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading"><b>ELITE MEMBERSHIP PRODUCT PACKAGE</b></div>
                        <div class="panel-body">
                            <ul>
                                <li>18 boxes Glutathione Capsule (30s)</li>
                                <li>10 bottles Magic Cream</li>
                                <li>10 boxes Grape Seed (30s)</li>
                                <li>12 boxes Ultima-C (100s)</li>
                                <li>10 pcs. FitRight (60s)</li>
                                <li>13 Natura White Deodorant</li>

                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 19 })">Buy Now</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">GLOBAL MEMBERSHIP PRODUCT PACKAGE</div>
                        <div class="panel-body">
                            <ul>
                                <li>36 boxes Glutathione Capsule (30s)</li>
                                <li>19 bottles Magic Cream</li>
                                <li>19 boxes Grape Seed (30s)</li>
                                <li>24 boxes Ultima-C (100s)</li>
                                <li>18 boxes FitRight (60s)</li>
                                <li>26 pcs Natura White Deodorant</li>

                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 20 })">Buy Now</a>
                            </div>

                        </div>
                    </div>
                </div>  <!-- End of Option Dubai -->


                <div id="option-sg" class="option">

                    <div class="title"><b>SINGAPORE MEMBERSHIP PRODUCT PACKAGES</b></div>

                    <div class="panel" style="float:left;">
                        <div class="panel-heading">Singapore Package A - Platinum</div>
                        <div class="panel-body">
                            <ul>
                                <li>6 - Glutathione Soap</li>
                                <li>6 - Kojic Acid Soap</li>
                                <li>1 - 8 in 1 Coffee</li>
                                <li>1 - Natura White Deodorant</li>
                                <li>1 - Wheat Grass & Barley</li>
                                <li>1 - i-Care Napkin(night use)</li>
                                <li>1 - i-Care Napkin (day use)</li>
                                <li>1 - Fitright (60's)</li>
                                <li>1 - Grapeseed (30's)</li>
                                <li>1 - Super Charge Extreme</li>
                                <li>1 - Glutha Capsule (30's)</li>
                                <li>1 - BB Cream</li>
                                <li>1 - Ultima C</li>
                                <li>1 - Krypto</li>
                                <li>1 - Glutha Lotion</li>
                                <li>1 - Body Scrub</li>
                                <li>1 - Advance Care Tooth gel</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 21 })">Buy Now</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">Singapore Package B - Tri Platinum</div>
                        <div class="panel-body">
                            <ul>
                                <li>1 - Cappuccino Coffee</li>
                                <li>1 - Kryptorganic</li>
                                <li>3 - Glutathione Soap</li>
                                <li>3 - Kojic Acid Soap</li>
                                <li>1 - 8 in 1 Coffee</li>
                                <li>1 - Natura White Deodorant</li>
                                <li>1 - Nutri Hair Shampoo</li>
                                <li>1 - Hair Treats</li>
                                <li>1 - Wheat Grass & Barley</li>
                                <li>1 - NYS Perfume</li>
                                <li>2 - i-Care Napkin(night use)</li>
                                <li>2 - i-Care Napkin (day use)</li>
                                <li>2 - i-Care Napkin ( Panty liner)</li>
                                <li>1 - Fitright ( 60's)</li>
                                <li>1 - Grapeseed (300's)</li>
                                <li>1 - Virgin Coconut Oil</li>
                                <li>1 - Super Charge Extreme</li>
                                <li>1 - Super Charge</li>
                                <li>1 - Glutha Capsule (30's)</li>
                                <li>1 - La Lumiere</li>
                                <li>1 - BB Cream</li>
                                <li>1 - Thanaka Cream</li>
                                <li>1 - Prime Juice</li>
                                <li>1 - Bio Magnetic Bracelet</li>
                                <li>1 - Scalar Pendant</li>
                                <li>1 - Ultima C</li>
                                <li>1 - Choco 8</li>
                                <li>1 - Glutha Lotion</li>
                                <li>1 - Body Works</li>
                                <li>1 - Advance Care Tooth gel</li>
                                <li>1 - Magic Cream</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 22 })">Buy Now</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading"><b>Singapore Package C - Elite</b></div>
                        <div class="panel-body">
                            <ul>
                                <li>2 - Kryptorganic</li>
                                <li>5 - Glutathione Soap</li>
                                <li>5 - Kojic Acid Soap</li>
                                <li>5 - 8 in 1 Coffee</li>
                                <li>5 - Cappuccino Coffee</li>
                                <li>2 - Natura White Deodorant</li>
                                <li>2 - Nutri Hair Shampoo</li>
                                <li>2 - Hair Treats</li>
                                <li>2 - Wheat Grass & Barley</li>
                                <li>2 - NYS Perfume</li>
                                <li>1Set - i-Care Ionized Napkin</li>
                                <li>1 - Acai Berry Juice</li>
                                <li>2 - Fitright (60's)</li>
                                <li>2 - Grapeseed (300's)</li>
                                <li>2 - Virgin Coconut Oil</li>
                                <li>2 - Super Charge Extreme</li>
                                <li>2 - Super Charge</li>
                                <li>2 - Glutha Capsule (30's)</li>
                                <li>2 - La Lumiere</li>
                                <li>2 - BB Cream</li>
                                <li>2 - Thanaka Cream</li>
                                <li>1 - Prime Juice</li>
                                <li>2 - Bio Magnetic Bracelet</li>
                                <li>2 - Scalar Pendant</li>
                                <li>3 - Ultima C</li>
                                <li>2 - Choco 8</li>
                                <li>2 - Glutha Lotion</li>
                                <li>2 - Body Works</li>
                                <li>2 - Advance Care Tooth gel</li>
                                <li>2 - Magic Cream</li>

                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 23 })">Buy Now</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">Singapore Package D - Global</div>
                        <div class="panel-body">
                            <ul>
                                <li>4 - Kryptorganic</li>
                                <li>10 - Glutathione Soap</li>
                                <li>10 - Kojic Acid Soap</li>
                                <li>10 - 8 in 1 Coffee</li>
                                <li>10 - Cappuccino Coffee</li>
                                <li>4 - Natura White Deodorant</li>
                                <li>4 - Nutri Hair Shampoo</li>
                                <li>4 - Hair Treats</li>
                                <li>4 - Wheat Grass & Barley</li>
                                <li>4 - NYS Perfume</li>
                                <li>2Set - i-Care Ionized Napkin</li>
                                <li>2 - Acai Berry Juice</li>
                                <li>4 - Fitright (60's)</li>
                                <li>4 - Grapeseed (300's)</li>
                                <li>4 - Virgin Coconut Oil</li>
                                <li>4 - Super Charge Extreme</li>
                                <li>4 - Super Charge</li>
                                <li>4 - Glutha Capsule (30's)</li>
                                <li>3 - La Lumiere</li>
                                <li>4 - BB Cream</li>
                                <li>4 - Thanaka Cream</li>
                                <li>2 - Prime Juice</li>
                                <li>4 - Bio Magnetic Bracelet</li>
                                <li>4 - Scalar Pendant</li>
                                <li>6 - Ultima C</li>
                                <li>4 - Choco 8</li>
                                <li>4 - Glutha Lotion</li>
                                <li>4 - Body Works</li>
                                <li>4 - Advance Care Tooth gel</li>
                                <li>4 - Magic Cream</li>
                            </ul>
                            <p>This PACKAGES INCLUDES THE FOLLOWING:</p>
                            <ol>
                                <li>Sales Kit</li>
                                <li>Online Portfolio</li>
                                <li>Membership ID</li>
                                <li>Discounts of up to 40%</li>
                            </ol>

                            <div style="width:100%;text-align:center;">
                                <a class="button warning"
                                   href="@Url.Action("Start", "Payment", new { paypalID = 24 })">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of Option Singapore -->


            </td> <!-- End of Option Container -->

            <td width="300" style="vertical-align: top;">
                <p>List of International Packages</p>
                <div id="menu-option-a" class="menu-option selected">
                    <b style="color: #c69000;">OPTION A</b>
                    <ul style="list-style-type: none;">
                        <li>PHIL EXPORT OPTION A - PLATINUM | US$330.00</li>
                        <li>PHIL EXPORT OPTION A -  TRIPLATINUM | US$930.00</li>
                        <li>PHIL EXPORT OPTION A -  ELITE | US$1,820.00</li>
                        <li>PHIL EXPORT OPTION A -  GLOBAL | US$3,580.00</li>
                    </ul>
                </div>

                <div id="menu-option-b" class="menu-option">
                    <b style="color: #c69000;">OPTION B</b>
                    <ul style="list-style-type: none;">
                        <li>PHIL EXPORT OPTION B - ELITE  | US$330.00</li>
                        <li>PHIL EXPORT OPTION B - TRI-PLATINUM  | US$930.00</li>
                        <li>ELITE  | US$1,820.0<li>0 (includes shipping)</li>
                        <li>PHIL EXPORT OPTION B - GLOBAL | US$3,580.00</li>
                    </ul>
                </div>

                <div id="menu-option-hk" class="menu-option">
                    <b>HONG KONG/MACAU MEMBERSHIP PRODUCT PACKAGE</b>
                    <ul style="list-style-type: none;">
                        <li>HONG KONG/MACAU PACKAGE A - PLATINUM | HK$2,200.00</li>
                        <li>HONG KONG/MACAU PACKAGE B - TRIPLATINUM | HK$6,600.00</li>
                        <li>HONG KONG/MACAU PACKAGE C - ELITE | HK$13,200.00</li>
                        <li>HONG KONG/MACAU PACKAGE D - GLOBAL  | HK$26,400.00</li>
                    </ul>
                </div>

                <div id="menu-option-db" class="menu-option">
                    <b>DUBAI MEMBERSHIP PRODUCT PACKAGES</b>
                    <ul style="list-style-type: none;">
                        <li>PLATINUM MEMBERSHIP PRODUCT PACKAGE | AED930.00</li>
                        <li>TRI-PLAT MEMBERSHIP PRODUCT PACKAGE | AED2,790.00</li>
                        <li>ELITE MEMBERSHIP PRODUCT PACKAGE | AED5,580.00</li>
                        <li>GLOBAL MEMBERSHIP PRODUCT PACKAGE | AED11,160.00</li>
                    </ul>
                </div>

                <div id="menu-option-sg" class="menu-option">
                    <b>SINGAPORE MEMBERSHIP PRODUCT PACKAGES</b>
                    <ul style="list-style-type: none;">
                        <li>Singapore Package A - Platinum | USD330.00</li>
                        <li>Singapore Package B - Tri Platinum | USD930.00</li>
                        <li>Singapore Package C - Elite | USD1,820.00</li>
                        <li>Singapore Package D - Global | USD3,580.00</li>
                    </ul>
                </div>
            </td>

        </tr>

    </table>
</div>


@section AddToHead{
    <link href="@Url.Content("~/Content/Styles/packages.css")" rel="stylesheet" type="text/css" />
}


@section Scripts {
    <script>
        var selectedPackageID = '@ViewBag.SelectedID';

        $(document).ready(function () {

            $("#slider").responsiveSlides({
                maxwidth: 970,
                speed: 800,
            });

            $("#option-a").show();

            $("#menu-option-a").click(function () {
                $("#options").show();
                $("#compensation").hide();

                $(".option").hide();
                $("#option-a").show();
                $(".menu-option").removeClass("selected");
                $("#menu-option-a").addClass("selected");
            });

            $("#menu-option-b").click(function () {
                $("#options").show();
                $("#compensation").hide();

                $(".option").hide();
                $("#option-b").show();
                $(".menu-option").removeClass("selected");
                $("#menu-option-b").addClass("selected");
            });

            $("#menu-option-hk").click(function () {
                $("#options").show();
                $("#compensation").hide();

                $(".option").hide();
                $("#option-hk").show();
                $(".menu-option").removeClass("selected");
                $("#menu-option-hk").addClass("selected");
            });

            $("#menu-option-db").click(function () {
                $("#options").show();
                $("#compensation").hide();

                $(".option").hide();
                $("#option-db").show();
                $(".menu-option").removeClass("selected");
                $("#menu-option-db").addClass("selected");
            });

            $("#menu-option-sg").click(function () {
                $("#options").show();
                $("#compensation").hide();

                $(".option").hide();
                $("#option-sg").show();
                $(".menu-option").removeClass("selected");
                $("#menu-option-sg").addClass("selected");
            });

            console.log("Selected ID: ", selectedPackageID);
            if (selectedPackageID == '2') {
                $(".menu-option").removeClass("selected");
                $("#options").hide();
                $("#compensation").show();
            }

        });


    </script>
}
