@{
    ViewBag.Title = "Skin";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div style="padding:10px;">
    <h2>Skin Products</h2>

    <ul>
        <li>@Html.ActionLink("Bb Cream", "ProductDetails", new { id = 1 })</li>
        <li>@Html.ActionLink("Body Works", "ProductDetails", new { id = 2 })</li>
        <li>@Html.ActionLink("Glutathione Lotion", "ProductDetails", new { id = 3 })</li>
        <li>@Html.ActionLink("Glutathione Capsule", "ProductDetails", new { id = 4 })</li>
        <li>@Html.ActionLink("Glutathione Soap", "ProductDetails", new { id = 5 })</li>
        <li>@Html.ActionLink("Kojic Acid Soap", "ProductDetails", new { id = 6 })</li>
        <li>@Html.ActionLink("Magic Cream", "ProductDetails", new { id = 7 })</li>
        <li>@Html.ActionLink("Thanakha Cream", "ProductDetails", new { id = 8 })</li>
    </ul>
</div>