@model RedLions.Presentation.Web.Models.ChangePassword

@section NavigationControls
{
    @{ Html.RenderPartial("_ProfileControlPartial"); }
}

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Profile/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Change Password</legend>

        <!-- Old Password -->
        @Html.LabelFor(model => model.OldPassword)
        <div class="input-control password" data-role="input-control">
            @Html.PasswordFor(model => model.OldPassword, new { placeholder = "Old Password", autofocus = "" } )
            <button class="btn-reveal" tabindex="-1"></button>
        </div>
        @Html.ValidationMessageFor(model => model.OldPassword)

        @Html.LabelFor(model => model.NewPassword)
        <div class="input-control password" data-role="input-control">
            @Html.PasswordFor(model => model.NewPassword, new { placeholder = "New Password" } )
            <button class="btn-reveal" tabindex="-1"></button>
        </div>
        @Html.ValidationMessageFor(model => model.NewPassword)

        <!-- Confirm Password -->
        @Html.LabelFor(model => model.ConfirmPassword)
        <div class="input-control password" data-role="input-control">
            @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Retype Password" } )
            <button class="btn-reveal" tabindex="-1"></button>
        </div>
        @Html.ValidationMessageFor(model => model.ConfirmPassword)

        <div class="input-control">
            <input type="submit" value="Save" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Profile", "Index")
</div>
