@model PagedList.IPagedList<RedLions.Presentation.Web.Models.Member>
@using PagedList.Mvc;

@{
    ViewBag.Title = "My Referrals";
    Layout = "~/Views/Profile/Shared/_Layout.cshtml";
}

<h3>My Referrals</h3>
<div>
    <table class="table">
        <thead>
        <tr>
            <th class="text-left">@Html.DisplayNameFor(model => model.FirstOrDefault().FullName)</th>
            <th class="text-left">@Html.DisplayNameFor(model => model.FirstOrDefault().Username)</th>
            <th class="text-left">@Html.DisplayNameFor(model => model.FirstOrDefault().Email)</th>
            <th class="text-left">@Html.DisplayNameFor(model => model.FirstOrDefault().CellphoneNumber)</th>
            <!-- <th class="text-left">@Html.DisplayNameFor(model => model.FirstOrDefault().RegisteredDateTime)</th> -->
        </tr>
        </thead>

        <tbody>
            
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.CellphoneNumber)</td>
                <!-- <td class="right">@Html.DisplayFor(modelItem => item.RegisteredDateTime)</td>-->
            </tr>
        }
        </tbody>

        <tfoot></tfoot>

    </table>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(
    Model, 
    page => Url.Action("Referrals", "Profile", new { page }),
    options: new PagedListRenderOptions() { ContainerDivClasses = new List<string>() { "pagination" } })