@model RedLions.Presentation.Web.ViewModels.CreatePayment

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_LayoutRedLions.cshtml";
}

<div class="page" style="padding: 10px;">
    <div class="page-region">
        <div class="page-region-content">

            @using (Html.BeginForm("Confirm", "Payment"))
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Payment</legend>

                    @Html.HiddenFor(model => model.Payment.PaymentTypeID)
                    @Html.HiddenFor(model => model.Payment.PayPalID)
                    @Html.HiddenFor(model => model.Payment.ReferrerUserID)
                    @Html.HiddenFor(model => model.Payment.Local)
                                       
                    <!-- Email -->
                    @Html.LabelFor(model => model.Payment.Email)
                    <div class="input-control text" data-role="input-control">
                        @Html.TextBoxFor(model => model.Payment.Email, new { placeholder = "Email" })
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>
                    @Html.ValidationMessageFor(model => model.Payment.Email)

                    <!-- First name -->
                    @Html.LabelFor(model => model.Payment.FirstName)
                    <div class="input-control text" data-role="input-control">
                        @Html.TextBoxFor(model => model.Payment.FirstName, new { placeholder = "FirstName" })
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>
                    @Html.ValidationMessageFor(model => model.Payment.FirstName)

                    <!-- MiddleName -->
                    @Html.LabelFor(model => model.Payment.MiddleName)
                    <div class="input-control text" data-role="input-control">
                        @Html.TextBoxFor(model => model.Payment.MiddleName, new { placeholder = "MiddleName" })
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>
                    @Html.ValidationMessageFor(model => model.Payment.MiddleName)

                    <!-- LastName -->
                    @Html.LabelFor(model => model.Payment.LastName)
                    <div class="input-control text" data-role="input-control">
                        @Html.TextBoxFor(model => model.Payment.LastName, new { placeholder = "LastName" })
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>
                    @Html.ValidationMessageFor(model => model.Payment.LastName)

                    <!-- Age -->
                    @Html.LabelFor(model => model.Payment.Age)
                    <div class="input-control text" data-role="input-control">
                        @Html.EditorFor(model => model.Payment.Age)
                        <button class="btn-clear" tabindex="-1"></button>
                    </div>
                    @Html.ValidationMessageFor(model => model.Payment.Age)

                    <!-- Birthday -->
                    @Html.LabelFor(model => model.Payment.BirthDate)
                    <div class="input-control select size2" data-role="input-control">
                        @Html.DropDownListFor(model => model.BirthDay, Model.BirthDayList)
                    </div>
                    <div class="input-control select size2" data-role="input-control">
                        @Html.DropDownListFor(model => model.BirthMonth, Model.BirthMonthList)
                    </div>
                    <div class="input-control select size2" data-role="input-control">
                        @Html.DropDownListFor(model => model.BirthYear, Model.BirthYearList)
                    </div>

                    <!-- Gender -->
                    @Html.LabelFor(model => model.Payment.Gender)
                    <div class="input-control select" data-role="input-control">
                        @Html.DropDownListFor(model => model.Payment.Gender, Model.GenderList)
                    </div>
                    @Html.ValidationMessageFor(model => model.Payment.Gender)

                    <!-- Mobile -->
                    @Html.LabelFor(model => model.Payment.MobileNumber)
                    <div class="input-control text" data-role="input-control">
                        @Html.TextBoxFor(model => model.Payment.MobileNumber)
                    </div>
                    @Html.ValidationMessageFor(model => model.Payment.MobileNumber)

                    <!-- Address -->
                    @Html.LabelFor(model => model.Payment.Address)
                    <div class="input-control text" data-role="input-control">
                        @Html.TextBoxFor(model => model.Payment.Address)
                    </div>
                    @Html.ValidationMessageFor(model => model.Payment.Address)

                    <!-- PaymentMethod -->
                    @if (Model.Payment.PaymentTypeID == 1)
                    {
                        <!-- If Cash -->
                        @Html.LabelFor(model => model.Payment.PaymentMethod)
                        <div class="input-control select" data-role="input-control">
                            @Html.DropDownListFor(model => model.Payment.PaymentMethod,
                            Model.PaymentMethodList)
                        </div>
                        @Html.ValidationMessageFor(model => model.Payment.PaymentMethod)
                    }
                    else
                    {
                        <!-- If PayPal -->
                        @Html.HiddenFor(model => model.Payment.PaymentMethod)
                    }

                    @if(Model.Payment.Local)
                    {
                        <!-- Gift Certificates -->
                        @Html.LabelFor(model => model.GiftCertificates)
                        @Html.ValidationMessageFor(model => model.GiftCertificates)
                        foreach (var giftCertificate in Model.GiftCertificates)
                        {
                            <div class="input-control checkbox">
                                <label>
                                    @Html.CheckBox(giftCertificate.ID.ToString(), giftCertificate.Checked)
                                    <span class="check"></span>
                                    @Html.DisplayTextFor(modelItem => giftCertificate.Title)
                                </label>
                            </div>
                            <br />
                        }
                    }
                    
                    <!-- Referrer Name -->
                    @Html.LabelFor(model => model.Payment.ReferrerName)
                    <div class="input-control text" data-role="input-control">
                        @Html.TextBoxFor(model => model.Payment.ReferrerName, new { disabled = "disabled" })
                    </div>

                    <!-- Referrer UNO ID -->
                    @Html.LabelFor(model => model.Payment.ReferrerUnoID)
                    <div class="input-control text" data-role="input-control">
                        @Html.TextBoxFor(model => model.Payment.ReferrerUnoID, new { disabled = "disabled" })
                    </div>

                    <div class="input-control">
                        <input type="submit" class="primary" value="Submit" />
                    </div>

                </fieldset>
            }
        </div>
    </div>
</div>
