@model RedLions.Presentation.Web.ViewModels.UpdateMember

@{
    ViewBag.Title = "Create";
}

@section NavigationControls
{
    @{ Html.RenderPartial("_MembersControlPartial"); }
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.InquiryID)
    
    <fieldset>
        <legend>Create an account</legend>

        <!-- Username -->
        @Html.LabelFor(model => model.Username)
        <div class="input-control text" data-role="input-control">
            @Html.TextBoxFor(model => model.Username, new { placeholder = "Username" } )
            <button class="btn-clear" tabindex="-1"></button>
        </div>
        @Html.ValidationMessageFor(model => model.Username)

        <!-- UnoID -->
        @Html.LabelFor(model => model.UnoID)
        <div class="input-control text" data-role="input-control">
            @Html.TextBoxFor(model => model.UnoID, new { placeholder = "UNO ID Number" })
            <button class="btn-clear" tabindex="-1"></button>
        </div>
        @Html.ValidationMessageFor(model => model.UnoID)

        <!-- Email -->
        @Html.LabelFor(model => model.Email)
        <div class="input-control text" data-role="input-control">
            @Html.TextBoxFor(model => model.Email, new { placeholder = "Email" } )
            <button class="btn-clear" tabindex="-1"></button>
        </div>
        @Html.ValidationMessageFor(model => model.Email)

        <!-- Cellphone Number -->
        @Html.LabelFor(model => model.CellphoneNumber)
        <div class="input-control text" data-role="input-control">
            @Html.TextBoxFor(model => model.CellphoneNumber, new { placeholder = "Contact number" })
            <button class="btn-clear" tabindex="-1"></button>
        </div>
        @Html.ValidationMessageFor(model => model.CellphoneNumber)

        <!-- Firstname -->
        @Html.LabelFor(model => model.FirstName)
        <div class="input-control text" data-role="input-control">
            @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First name" } )
            <button class="btn-clear" tabindex="-1"></button>
        </div>
        @Html.ValidationMessageFor(model => model.FirstName)

        <!-- Lastname -->
        @Html.LabelFor(model => model.LastName)
        <div class="input-control text" data-role="input-control">
            @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last name" } )
            <button class="btn-clear" tabindex="-1"></button>
        </div>
        @Html.ValidationMessageFor(model => model.LastName)

        <!-- Country -->
        <div class="editor-field">
            @Html.LabelFor(model => model.Country)
            <div class="input-control select" data-role="input-control">
                @Html.DropDownListFor(model => model.Country.ID, Model.CountrySelectListItems)
            </div>
            @Html.ValidationMessageFor(model => model.Country.ID)
        </div>

        <!-- HomeAddress -->
        <div class="editor-field">
            @Html.LabelFor(model => model.HomeAddress)
            <div class="input-control textarea" data-role="input-control">
                @Html.TextAreaFor(model => model.HomeAddress)
            </div>
            @Html.ValidationMessageFor(model => model.HomeAddress)
        </div>

        <!-- DeliveryAddress -->
        <div class="editor-field">
            @Html.LabelFor(model => model.DeliveryAddress)
            <div class="input-control textarea" data-role="input-control">
                @Html.TextAreaFor(model => model.DeliveryAddress)
            </div>
            @Html.ValidationMessageFor(model => model.DeliveryAddress)
        </div>

        <!-- Nationality -->
        <div class="editor-field">
            @Html.LabelFor(model => model.Nationality)
            <div class="input-control text" data-role="input-control">
                @Html.TextBoxFor(model => model.Nationality)
            </div>
            @Html.ValidationMessageFor(model => model.Nationality)
        </div>

        <!-- Referrer -->
        @Html.LabelFor(model => model.ReferrerUsername)
        <div class="input-control text" data-role="input-control">
            @Html.TextBoxFor(model => model.ReferrerUsername, new { placeholder = "Referrer's Username" } )
            <button class="btn-clear" tabindex="-1"></button>
        </div>
         @Html.ValidationMessageFor(model => model.ReferrerUsername)
        
        <div class="input-control">
            <input type="submit" value="Create" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script type="text/javascript">

    var modelIds = {
        username : "#" + '@Html.IdFor(model => model.Username)',
        firstname: "#" + '@Html.IdFor(model => model.FirstName)',
        lastname: "#" + '@Html.IdFor(model => model.LastName)',
    };

    </script>

    @Scripts.Render("~/Scripts/Custom/admin.members.create.js")
}
