@model RedLions.Presentation.Web.Models.Member

@{
    ViewBag.Title = "Member Details";
}

@section NavigationControls
{
    @{ Html.RenderPartial("_MembersControlPartial"); }
}


<div class="panel transparent span7">
    @Html.HiddenFor(model => model.ID)

    <div class="panel-header bg-transparent">
        Account Summary
    </div>
        

    <!-- Navigation -->
    <div class="panel transparent span7">
        <div class="panel-content">
            <p>@Html.ActionLink("Back to List", "Index")</p>
        </div>
    </div>

    <div class="panel-content">

        <strong>Details</strong>

        <dl class="horizontal member-details">
            <!-- Full Name -->
            <dt>@Html.DisplayNameFor(model => model.FullName)</dt>
            <dd>@Html.DisplayFor(model => model.FullName)</dd>
            <!-- Username -->
            <dt>@Html.DisplayNameFor(model => model.Username)</dt>
            <dd>@Html.DisplayFor(model => model.Username)</dd>
            <!-- UNO ID -->
            <dt>@Html.DisplayNameFor(model => model.UnoID)</dt>
            <dd>@Html.DisplayFor(model => model.UnoID)</dd>
            <!-- Email Address -->
            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>
            <!-- Cellphone -->
            <dt>@Html.DisplayNameFor(model => model.CellphoneNumber)</dt>
            <dd>@Html.DisplayFor(model => model.CellphoneNumber)</dd>
            <!-- Country -->
            <dt>@Html.DisplayNameFor(model => model.Country)</dt>
            <dd>@Html.DisplayFor(model => model.Country.Title)</dd>
            <!-- Referrer -->
            <dt>@Html.DisplayNameFor(model => model.ReferrerUsername)</dt>
            <dd>@Html.DisplayFor(model => model.ReferrerUsername)</dd>
        </dl>

        <p><small>@Html.ActionLink("Edit Account Details", "Edit", new { id = Model.ID })</small></p>


    </div>

    <!-- Reset Password -->
    <div class="panel transparent span7">
        <div class="panel-content">

            <p><strong>Password</strong></p>
            <p><small>@Html.ActionLink("Reset password", "ResetPassword", new { id = Model.ID })</small></p>
        </div>
    </div>

    

    
</div>