@model RedLions.Presentation.Web.Models.Member

@{
    ViewBag.Title = "Member Details";
}

@section NavigationControls
{
    @{ Html.RenderPartial("_MembersControlPartial"); }
}


<div class="panel transparent span7">

    @Html.HiddenFor(model => model.ID)

    <!-- Header -->
    <div class="panel-header bg-transparent">
        Account Summary
    </div>

    <!-- Navigation -->
    <div class="panel transparent span7">
        <div class="panel-content">
            <p>@Html.ActionLink("Back to List", "Index")</p>
        </div>
    </div>

    <!-- Summary -->
    <div class="panel-content">

        <strong>Details</strong>

        <table class="horizontal member-details">
            <tr>
                <!-- Full Name -->
                <td class="details-label">@Html.DisplayNameFor(model => model.FullName)</td>
                <td>@Html.DisplayFor(model => model.FullName)</td>
            </tr>
            <tr>
                <!-- Username -->
                <td class="details-label">@Html.DisplayNameFor(model => model.Username)</td>
                <td>@Html.DisplayFor(model => model.Username)</td>
            </tr>
            <tr>
                <!-- UNO ID -->
                <td class="details-label">@Html.DisplayNameFor(model => model.UnoID)</td>
                <td>@Html.DisplayFor(model => model.UnoID)</td>
            </tr>
            <tr>
                <!-- Email -->
                <td class="details-label">@Html.DisplayNameFor(model => model.Email)</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <!-- Cellphone Number -->
                <td class="details-label">@Html.DisplayNameFor(model => model.CellphoneNumber)</td>
                <td>@Html.DisplayFor(model => model.CellphoneNumber)</td>
            </tr>
            <tr>
                <!-- Delivery -->
                <td class="details-label">@Html.DisplayNameFor(model => model.DeliveryAddress)</td>
                <td>@Html.DisplayFor(model => model.DeliveryAddress)</td>
            </tr>
            <tr>
                <!-- Home Address -->
                <td class="details-label">@Html.DisplayNameFor(model => model.HomeAddress)</td>
                <td>@Html.DisplayFor(model => model.HomeAddress)</td>
            </tr>
            <tr>
                <!-- Nationality -->
                <td class="details-label">@Html.DisplayNameFor(model => model.Nationality)</td>
                <td>@Html.DisplayFor(model => model.Nationality)</td>
            </tr>
            <tr>
                <!-- Country -->
                <td class="details-label">@Html.DisplayNameFor(model => model.Country)</td>
                <td>@Html.DisplayFor(model => model.Country.Title)</td>
            </tr>
            <tr>
                <!-- ReferrerUsername -->
                <td class="details-label">@Html.DisplayNameFor(model => model.ReferrerUsername)</td>
                <td>@Html.DisplayFor(model => model.ReferrerUsername)</td>
            </tr>
            <tr>
                <!-- Referral Count -->
                <td class="details-label">@Html.DisplayNameFor(model => model.ReferralCount)</td>
                <td>@Html.DisplayFor(model => model.ReferralCount)</td>
            </tr>
        </table>

        <p><small>@Html.ActionLink("Edit Account Details", "Edit", new { id = Model.ID })</small></p>


    </div>

    <!-- Reset Password -->
    <div class="panel transparent span7">
        <div class="panel-content">

            <p><strong>Security</strong></p>
            <p><small>@Html.ActionLink("Reset password", "ResetPassword", new { id = Model.ID })</small></p>
        </div>
    </div>

    <!-- Subscription -->
    <div class="panel transparent span7">
        <div class="panel-content">

            <p><strong>Subscription Plan</strong></p>

            <table class="horizontal member-details">
                <tr>
                    <!-- Subscription -->
                    <td class="details-label">@Html.DisplayNameFor(model => model.Subscription)</td>
                    <td>@Html.DisplayFor(model => model.Subscription.Title)</td>
                </tr>
                <tr>
                    <!-- Subscription -->
                    <td class="details-label">@Html.DisplayNameFor(model => model.SubscriptionStatus)</td>
                    <td>@Html.DisplayFor(model => model.SubscriptionStatus)</td>
                </tr>
                <tr>
                    <!-- Expiration -->
                    <td class="details-label">@Html.DisplayNameFor(model => model.SubscriptionExpirationDateTime)</td>
                    <td>@Html.DisplayFor(model => model.SubscriptionExpirationDateTime)</td>
                </tr>
            </table>

            <p><small>@Html.ActionLink("Update subscription plan", "Subscription", new { id = Model.ID })</small></p>
        </div>
    </div>

    <!-- User Points -->
    <div class="panel transparent span7">
        <div class="panel-content">

            <p><strong>User Points</strong></p>

            <table class="horizontal member-details">
                <tr>
                    <!-- Points -->
                    <td class="details-label">@Html.DisplayNameFor(model => model.Points)</td>
                    <td>@Html.DisplayFor(model => model.Points)</td>
                </tr>
            </table>
            <p><small>@Html.ActionLink("Update user points", "Points", new { id = Model.ID })</small></p>
        </div>
    </div>

    <!-- Deactivation -->
    <div class="panel transparent span7">
        <div class="panel-content">

            <p><strong>Activation Status</strong></p>

            <table class="horizontal member-details">
                <tr>
                    <!-- Points -->
                    <td class="details-label">@Html.DisplayNameFor(model => model.Deactivated)</td>
                    <td>@(ViewBag.Deactivated == true ? "No" : "Yes")</td>
                </tr>
            </table>
            <p><small>@Html.ActionLink("Deactivate/Activate account", "Activation", new { id = Model.ID })</small></p>
        </div>
    </div>
    
</div>